.git/objects/pack/pack-19312f0c075cfaaed40b613b81e2b4340de2d157.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-a944f2508f9ecc120bae95b97ff03aaa7b7648b8.pack filter=lfs diff=lfs merge=lfs -text
digitPredict-backend/venv/lib/python3.12/site-packages/tensorflow/libtensorflow_cc.2.dylib filter=lfs diff=lfs merge=lfs -text
